@import "tailwindcss";

body {
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
